@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 3em">Welcome</h1>
    <p style="font-size: 2em"><a href="../Root/Square">Go to SquareRoot App</a>.</p>
</div>

@* /Views/Root/Square *@

