@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 1.5em; margin: 1em 0">This is a Square Root Web App built by Ema Mimus during Start.ng 2020 programme</p>

<div class="text-center">
    <p style="font-size: 1.5em"> Contact </p>
    <div style = "display: flex; flex-direction: row; justify-content: center;">
        <p style="margin:0 1em"><a href="https://twitter.com/ema_mimus" target="display"><img style = "height: 50px; width: 50px" src="https://andemosa.github.io/profile/icons/twitter.svg" alt="twitter"></a> </p>
        <p style="margin:0 1em"><a href="https://github.com/ema-mimus" target="display"><img style = "height: 50px; width: 50px" src="https://andemosa.github.io/profile/icons/github-icon.svg" alt="github"></a></p>
    </div>
</div>
